numpy
pandas
pandas-ml
matplotlib
seaborn
scikit-learn
scikit-image
opencv-python
pillow
plotly
tensorflow
tensorflow-hub
tensorflow-datasets
tensorflow-text
tensorboard
torch
torchvision
jupyterlab
widgetsnbextension
jupyter-lsp
